UNWIND [
{% for track in tracks %}
    {
        id: {{ '"' + track.id + '"' }},
        name: {{ '"' + track.name + '"' }},
        explicit: {{ 'true' if track.explicit else 'false'}},
        is_local: {{ 'true' if track.is_local else 'false'}},
        popularity: {{ track.popularity }},
        duration_ms: {{ track.duration_ms }},
        type: {{ '"' + track.type + '"' }},
        uri: {{ '"' + track.uri + '"' }},
        href: {{ '"' + track.href + '"' }},
        spotify_url: {{ '"' + track.external_urls.spotify + '"' }},
        album: {
            id: {{ '"' + track.album.id + '"' }},
            name: {{ '"' + track.album.name + '"' }},
            release_date: {{ '"' + track.album.release_date + '"' }},
            release_date_precision: {{ '"' + track.album.release_date_precision + '"' }},
            total_tracks: {{ track.album.total_tracks }},
            album_type: {{ '"' + track.album.album_type + '"' }},
            spotify_url: {{ '"' + track.album.external_urls.spotify + '"' }},
            type: {{ '"' + track.album.type + '"' }},
            uri: {{ '"' + track.album.uri + '"' }},
            href: {{ '"' + track.album.href + '"' }},
            spotify_url: {{ '"' + track.album.external_urls.spotify + '"' }},
            artists: [
                {% for artist in track.album.artists %}{
                    id: {{ '"' + artist.id + '"' }},
                    name: {{ '"' + artist.name + '"' }},
                    type: {{ '"' + artist.type + '"' }},
                    uri: {{ '"' + artist.uri + '"' }},
                    href: {{ '"' + artist.href + '"' }},
                    spotify_url: {{ '"' + artist.external_urls.spotify + '"' }}
                }{% if not loop.last %},
                {% endif %}{% endfor %}
            ]
        },
        artists: [
            {% for artist in track.artists %}{
                id: {{ '"' + artist.id + '"' }},
                name: {{ '"' + artist.name + '"' }},
                type: {{ '"' + artist.type + '"' }},
                uri: {{ '"' + artist.uri + '"' }},
                href: {{ '"' + artist.href + '"' }},
                spotify_url: {{ '"' + artist.external_urls.spotify + '"' }}
            }{% if not loop.last %},
            {% endif %}{% endfor %}
        ]
    }{% if not loop.last %},
    {% endif %}{% endfor %}
] as track
MERGE (t:Track {id: track.id})
ON CREATE SET
    t.id = track.id
    t.name = track.name
    t.explicit = track.explicit
    t.is_local = track.is_local
    t.popularity = track.popularity
    t.duration_ms = track.duration_ms
    t.type = track.type
    t.uri = track.uri
    t.href = track.href
    t.spotify_url = track.spotify_url
